In [1]:
import pandas as pd

In [3]:
watch_acc_df = pd.read_csv("/Users/mtang/Documents/HHAR/Watch_accelerometer.csv")

In [8]:
# watch_acc_df.head()
watch_acc_df = watch_acc_df.rename(columns={'x':'watch_acc_x', 'y': 'watch_acc_y', 'z' : 'watch_acc_z'})
watch_acc_df.head()

,Index,Arrival_Time,Creation_Time,watch_acc_x,watch_acc_y,watch_acc_z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [5]:
watch_gyro_df = pd.read_csv("/Users/mtang/Documents/HHAR/Watch_gyroscope.csv")

In [9]:
watch_gyro_df = watch_gyro_df.rename(columns={'x':'watch_gyro_x', 'y': 'watch_gyro_y', 'z' : 'watch_gyro_z'})
watch_gyro_df.head()

,Index,Arrival_Time,Creation_Time,watch_gyro_x,watch_gyro_y,watch_gyro_z,User,Model,Device,gt
0,0,1424696638743,27920678496000,-0.162187,-0.022104,0.059655,a,gear,gear_1,stand
1,1,1424696638743,27920681926000,-0.183225,-0.061785,0.012517,a,gear,gear_1,stand
2,2,1424696638743,27920692031000,-0.180829,-0.108657,-0.036485,a,gear,gear_1,stand
3,3,1424696638743,27920701997000,-0.147805,-0.157925,-0.098537,a,gear,gear_1,stand
4,7,1424696638744,27920743068000,0.182160,-0.323574,-0.277235,a,gear,gear_1,stand

In [10]:
phone_acc_df = pd.read_csv("/Users/mtang/Documents/HHAR/Phones_accelerometer.csv")

In [11]:
phone_acc_df = phone_acc_df.rename(columns={'x':'phone_acc_x', 'y': 'phone_acc_y', 'z' : 'phone_acc_z'})
phone_acc_df.head()

,Index,Arrival_Time,Creation_Time,phone_acc_x,phone_acc_y,phone_acc_z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [12]:
phone_gyro_df = pd.read_csv("/Users/mtang/Documents/HHAR/Phones_gyroscope.csv")

In [13]:
phone_gyro_df = phone_gyro_df.rename(columns={'x':'phone_gyro_x', 'y': 'phone_gyro_y', 'z' : 'phone_gyro_z'})
phone_gyro_df.head()

,Index,Arrival_Time,Creation_Time,phone_gyro_x,phone_gyro_y,phone_gyro_z,User,Model,Device,gt
0,0,1424696633909,1424696631914042029,0.013748,-0.000626,-0.023376,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631919046912,0.014816,-0.001694,-0.022308,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631924051794,0.015884,-0.001694,-0.021240,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631929117712,0.016953,-0.003830,-0.020172,a,nexus4,nexus4_1,stand
4,4,1424696633928,1424696631934214148,0.015884,-0.007034,-0.020172,a,nexus4,nexus4_1,stand

In [29]:
watch_df = watch_acc_df.merge(watch_gyro_df, how='outer')

In [31]:
watch_df = watch_df.sort_values(by='Arrival_Time')
watch_df.head(20)

,Index,Arrival_Time,Creation_Time,watch_acc_x,watch_acc_y,watch_acc_z,User,Model,Device,gt,watch_gyro_x,watch_gyro_y,watch_gyro_z
5040167,0,1424686740282,202601670000,NaN,NaN,NaN,g,gear,gear_2,stand,0.428236,0.319047,0.243679
5040168,1,1424686740283,202609411000,NaN,NaN,NaN,g,gear,gear_2,stand,0.619984,0.318514,0.115049
5040172,5,1424686740283,202649170000,NaN,NaN,NaN,g,gear,gear_2,stand,1.093228,0.051932,-0.022371
5040171,4,1424686740283,202639121000,NaN,NaN,NaN,g,gear,gear_2,stand,0.985902,0.059655,0.004527
5040170,3,1424686740283,202631630000,NaN,NaN,NaN,g,gear,gear_2,stand,0.918524,0.136088,-0.075634
5040169,2,1424686740283,202619294000,NaN,NaN,NaN,g,gear,gear_2,stand,0.815993,0.272175,-0.042078
5040178,6,1424686740284,202658914000,NaN,NaN,NaN,g,gear,gear_2,stand,1.143828,0.121440,-0.034088
5040177,7,1424686740284,202668987000,NaN,NaN,NaN,g,gear,gear_2,stand,1.166198,0.199204,0.054328
5040176,8,1424686740284,202678830000,NaN,NaN,NaN,g,gear,gear_2,stand,1.094027,0.185090,0.156594
5040175,9,1424686740284,202750441000,NaN,NaN,NaN,g,gear,gear_2,stand,1.142496,-0.378169,-4.010721
5040174,10,1424686740284,202751684000,NaN,NaN,NaN,g,gear,gear_2,stand,1.616805,2.320146,3.002714
5040173,11,1424686740284,202758979000,NaN,NaN,NaN,g,gear,gear_2,stand,1.616805,2.320146,3.002714
5040181,14,1424686740285,202788953000,NaN,NaN,NaN,g,gear,gear_2,stand,3.172890,3.107376,2.736398
5040180,13,1424686740285,202778867000,NaN,NaN,NaN,g,gear,gear_2,stand,2.839729,2.838397,2.857838
5040179,12,1424686740285,202769052000,NaN,NaN,NaN,g,gear,gear_2,stand,2.211755,2.501774,2.980610
3179488,0,1424686740286,202601646000,4.018668,-7.155670,-3.341109,g,gear,gear_2,stand,NaN,NaN,NaN
3179493,5,1424686740287,202649162000,3.341707,-5.814918,-1.999757,g,gear,gear_2,stand,NaN,NaN,NaN
3179489,1,1424686740287,202609390000,3.605069,-6.991668,-3.151368,g,gear,gear_2,stand,NaN,NaN,NaN
3179490,2,1424686740287,202619269000,3.038841,-6.546346,-3.436278,g,gear,gear_2,stand,NaN,NaN,NaN
3179491,3,1424686740287,202631619000,3.030461,-6.183026,-2.860472,g,gear,gear_2,stand,NaN,NaN,NaN

In [32]:
phone_df = phone_acc_df.merge(phone_gyro_df, how='outer')

In [34]:
phone_df = phone_df.sort_values(by='Arrival_Time')
phone_df.head(20)

,Index,Arrival_Time,Creation_Time,phone_acc_x,phone_acc_y,phone_acc_z,User,Model,Device,gt,phone_gyro_x,phone_gyro_y,phone_gyro_z
8574740,0,1424686730639,1424686728648746203,-2.275757,-2.054123,8.883972,g,nexus4,nexus4_1,NaN,NaN,NaN,NaN
22877403,0,1424686733386,43199331969000,NaN,NaN,NaN,g,s3,s3_1,stand,0.018937,-0.040623,-0.011912
23663237,0,1424686733388,5358242282000,NaN,NaN,NaN,g,s3mini,s3mini_1,stand,-0.017566,0.005855,0.032693
10027164,0,1424686733389,450772396000,-2.758086,1.838724,9.500074,g,samsungold,samsungold_2,stand,NaN,NaN,NaN
9691436,0,1424686733391,5358244937000,-2.779668,1.908179,8.927979,g,s3mini,s3mini_1,stand,NaN,NaN,NaN
22877404,1,1424686733391,43199336959000,NaN,NaN,NaN,g,s3,s3_1,stand,0.015577,-0.043371,-0.014661
9308123,0,1424686733395,43199341050000,-2.528277,1.924938,9.279925,g,s3,s3_1,stand,NaN,NaN,NaN
22877405,2,1424686733396,43199341973000,NaN,NaN,NaN,g,s3,s3_1,stand,0.015882,-0.038485,-0.006414
23663238,1,1424686733398,5358252169000,NaN,NaN,NaN,g,s3mini,s3mini_1,stand,-0.015615,0.000732,0.032693
10027165,1,1424686733399,450782283000,-2.758086,1.685497,9.500074,g,samsungold,samsungold_2,stand,NaN,NaN,NaN
9691437,1,1424686733401,5358254732000,-2.779668,1.908179,8.927979,g,s3mini,s3mini_1,stand,NaN,NaN,NaN
22877406,3,1424686733401,43199346959000,NaN,NaN,NaN,g,s3,s3_1,stand,0.014355,-0.035430,-0.018021
9308124,1,1424686733405,43199351136000,-2.509123,1.934515,9.174581,g,s3,s3_1,stand,NaN,NaN,NaN
22877407,4,1424686733406,43199351959000,NaN,NaN,NaN,g,s3,s3_1,stand,0.009468,-0.031460,-0.016188
23663239,2,1424686733409,5358262635000,NaN,NaN,NaN,g,s3mini,s3mini_1,stand,-0.014639,-0.002684,0.033425
22877408,5,1424686733411,43199356960000,NaN,NaN,NaN,g,s3,s3_1,stand,0.011301,-0.026878,-0.019548
9691438,2,1424686733411,5358265229000,-2.789245,1.916559,8.916007,g,s3mini,s3mini_1,stand,NaN,NaN,NaN
9308125,2,1424686733415,43199361219000,-2.509123,1.934515,9.078813,g,s3,s3_1,stand,NaN,NaN,NaN
22877409,6,1424686733416,43199361960000,NaN,NaN,NaN,g,s3,s3_1,stand,0.012828,-0.016493,-0.016799
23663240,3,1424686733418,5358272187000,NaN,NaN,NaN,g,s3mini,s3mini_1,stand,-0.014151,-0.006099,0.035865

In [41]:
whole_df = pd.concat([phone_df, watch_df], ignore_index=True, axis=1)

In [42]:
whole_df = whole_df.sort_values(by='Arrival_Time')
whole_df.head(100)

KeyError: 'Arrival_Time'