In [1]:
from scipy.io import arff
import pandas as pd

In [3]:
data, meta = arff.loadarff('/Users/mtang/Documents/FedScale/benchmark/dataset/data/WISDM/WISDM_ar_v1.1_transformed.arff')

In [4]:
df = pd.DataFrame(data)
df.head()

,UNIQUE_ID,user,X0,X1,X2,X3,X4,X5,X6,X7,...,YPEAK,ZPEAK,XABSOLDEV,YABSOLDEV,ZABSOLDEV,XSTANDDEV,YSTANDDEV,ZSTANDDEV,RESULTANT,class
0,1.0,b'33',0.04,0.09,0.14,0.12,0.11,0.10,0.08,0.13,...,293.94,1550.00,3.29,7.21,4.00,4.05,8.17,4.05,11.96,b'Jogging'
1,2.0,b'33',0.12,0.12,0.06,0.07,0.11,0.10,0.11,0.09,...,269.44,1233.33,4.23,6.88,4.05,5.43,8.19,5.43,12.05,b'Jogging'
2,3.0,b'33',0.14,0.09,0.11,0.09,0.09,0.11,0.12,0.08,...,248.65,1780.00,4.18,6.89,4.07,5.55,8.19,5.55,11.99,b'Jogging'
3,4.0,b'33',0.06,0.10,0.09,0.09,0.11,0.07,0.12,0.10,...,709.09,1380.00,2.26,4.13,2.49,2.87,4.95,2.87,10.69,b'Walking'
4,5.0,b'33',0.12,0.11,0.10,0.08,0.10,0.14,0.10,0.11,...,3300.00,1775.00,2.29,3.94,2.41,3.08,4.64,3.08,10.80,b'Walking'

In [5]:
df["user"] = df["user"].apply(lambda x: x.decode("utf-8"))
df["class"] = df["class"].apply(lambda x: x.decode("utf-8"))

In [6]:
df = df.reset_index(drop=True)
df = df.drop(['UNIQUE_ID'], axis=1)

In [7]:
df = df.rename(columns={"user": "client_Id", "class": "label_name"})
df = df.fillna(0)
# df["label_Id"] = df["label_name"].apply(lambda x: pd.factorize(x)[0])
df['label_Id'] = pd.factorize(df['label_name'])[0]
df.head()

,client_Id,X0,X1,X2,X3,X4,X5,X6,X7,X8,...,ZPEAK,XABSOLDEV,YABSOLDEV,ZABSOLDEV,XSTANDDEV,YSTANDDEV,ZSTANDDEV,RESULTANT,label_name,label_Id
0,33,0.04,0.09,0.14,0.12,0.11,0.10,0.08,0.13,0.13,...,1550.00,3.29,7.21,4.00,4.05,8.17,4.05,11.96,Jogging,0
1,33,0.12,0.12,0.06,0.07,0.11,0.10,0.11,0.09,0.12,...,1233.33,4.23,6.88,4.05,5.43,8.19,5.43,12.05,Jogging,0
2,33,0.14,0.09,0.11,0.09,0.09,0.11,0.12,0.08,0.05,...,1780.00,4.18,6.89,4.07,5.55,8.19,5.55,11.99,Jogging,0
3,33,0.06,0.10,0.09,0.09,0.11,0.07,0.12,0.10,0.14,...,1380.00,2.26,4.13,2.49,2.87,4.95,2.87,10.69,Walking,1
4,33,0.12,0.11,0.10,0.08,0.10,0.14,0.10,0.11,0.08,...,1775.00,2.29,3.94,2.41,3.08,4.64,3.08,10.80,Walking,1

In [8]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2)

In [9]:
train_df.head()

,client_Id,X0,X1,X2,X3,X4,X5,X6,X7,X8,...,ZPEAK,XABSOLDEV,YABSOLDEV,ZABSOLDEV,XSTANDDEV,YSTANDDEV,ZSTANDDEV,RESULTANT,label_name,label_Id
2195,28,0.06,0.11,0.10,0.10,0.09,0.14,0.16,0.13,0.09,...,2325.00,1.92,1.98,1.66,2.26,2.47,2.26,10.48,Walking,1
5186,7,0.31,0.17,0.00,0.27,0.23,0.01,0.01,0.01,0.00,...,315.00,6.69,0.07,0.06,6.70,0.10,6.70,10.01,Sitting,4
3078,12,0.01,0.03,0.07,0.10,0.09,0.07,0.11,0.21,0.26,...,3125.00,6.19,3.24,3.42,7.17,3.92,7.17,10.92,Walking,1
3236,12,0.11,0.10,0.05,0.14,0.13,0.11,0.09,0.10,0.09,...,2225.00,3.17,6.46,4.24,4.13,7.71,4.13,12.45,Upstairs,2
1199,36,0.16,0.09,0.07,0.05,0.12,0.06,0.08,0.10,0.14,...,2583.33,1.77,2.52,1.75,2.30,3.16,2.30,10.25,Upstairs,2

In [10]:
test_df.head()

,client_Id,X0,X1,X2,X3,X4,X5,X6,X7,X8,...,ZPEAK,XABSOLDEV,YABSOLDEV,ZABSOLDEV,XSTANDDEV,YSTANDDEV,ZSTANDDEV,RESULTANT,label_name,label_Id
2120,10,0.12,0.10,0.09,0.08,0.12,0.12,0.09,0.13,0.09,...,3850.0,2.68,3.82,2.52,3.48,4.59,3.48,10.98,Upstairs,2
1319,18,0.09,0.10,0.13,0.12,0.09,0.09,0.09,0.09,0.13,...,3575.0,5.04,4.39,2.38,6.08,5.32,6.08,13.00,Walking,1
3254,23,0.09,0.09,0.06,0.10,0.15,0.10,0.15,0.09,0.10,...,2225.0,2.73,4.87,4.59,3.62,5.98,3.62,12.90,Walking,1
606,13,0.10,0.14,0.09,0.14,0.08,0.06,0.10,0.10,0.11,...,1000.0,4.39,8.34,7.04,5.29,9.55,5.29,14.61,Jogging,0
1152,36,0.12,0.11,0.15,0.08,0.08,0.11,0.06,0.10,0.11,...,2175.0,5.02,6.35,3.48,5.97,7.65,5.97,12.26,Jogging,0

In [11]:
train_df.to_csv("/Users/mtang/Documents/FedScale/benchmark/dataset/data/WISDM_ar_v1.1 2/client_data_mapping/train.csv", index=False)
test_df.to_csv("/Users/mtang/Documents/FedScale/benchmark/dataset/data/WISDM_ar_v1.1 2/client_data_mapping/test.csv", index=False)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/mtang/Documents/FedScale/benchmark/dataset/data/WISDM_ar_v1.1 2/client_data_mapping/train.csv'